<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Tabla de Normas
      </nb-card-header>
      <nb-card-body>
        <div class="font-row font-main">
          <table class="table table-striped">
            <thead>
            <th>Norma</th>
            <th>Categoria</th>
            <th>Descripcion</th>
            <th>Link</th>
            <th>Índice</th>
            </thead>
            <tbody>
            <tr *ngFor="let norma of normasVevo | paginate: { itemsPerPage: 10, currentPage: p }">
              <td>{{norma.nombre}}</td>
              <td>{{norma.categoria}}</td>
              <td>{{norma.descripcion}}</td>
              <td>
                <button class="">
                  <a href="{{norma.link}}" target="_blank"><i class="fa fa-link"></i></a>
                </button>
              </td>
              <td>
                <button type="button" (click)="showLargeModal(norma.nombre,norma.indice)">Boton {{i}}</button>
              </td>
            </tr>
            </tbody>
            <pagination-controls (pageChange)="p = $event"
                                 previousLabel="Anterior"
                                 nextLabel="Siguiente"
                                 screenReaderPaginationLabel="Paginacion"
                                 screenReaderPageLabel="pagina"
                                 screenReaderCurrentLabel="Estas en la pagina"></pagination-controls>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>


