<div class="modal-header">
  <span>{{ modalHeader }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h4>Descripción</h4>
  <p>
    {{parrafo}}
  </p>
  <p>
    <b>Es certificable:</b> {{certificable === true? 'Si' : 'No'}}
  </p>
  <h4>Tabla de Contenidos</h4>
  <ul>
    <li *ngFor="let itemIndice of listaItemsIndice">
      {{ itemIndice }}
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-primary" (click)="closeModal()">Cerrar</button>
</div>
